.JobDetail {
    background-color: var(--neutral);
    /* border-radius: 10px; */
    padding: 25px 19px 25px 19px;
    /* margin-top: 11px;
    margin-bottom: 11px; */
    display: flex;
    flex-direction: row;
    /* background-color: red; */
  }
  
  .heading1 {
    font-family: Roboto;
    font-size: 14px;
    margin-top: 16px;
  }
  
  .ActivityButton {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  
  .img {
    width: 100%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
  }
  
  .jobTitle {
    font-family: Roboto;
    font-size: 14px;
  }
  .jobIntro {
    font-family: Roboto Bold;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 13px;
  }
  .jobDetail {
    font-family: Roboto Bold;
    font-size: 10px;
  }
  .button {
    /* background-color: var(--orange); */
    /* font-family: Roboto;
    font-weight: 100; */
    /* font-style: normal; */
    /* font-size: large; */
    /* text-align: center; */
    /* padding: 1rem; */
    /* border: none;
    color: var(--neutral);
    border-radius: 10px; */

    flex-direction: row;
    display: flex;
    /* background-color:yellow; */
    /* top: -5vh; */
    width:100%;
  }