.JobDetail {
    display: flex;
    flex-direction: column;
  }
  
  .heading1 {
    font-family: Roboto;
    font-size: 14px;
    margin-top: 16px;
  }
  
  .ActivityButton {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  
  .img {
    width: 100%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
    background-color:white;
    padding:10px;
    border-radius: 20px;
  }
  
  .jobTitle {
    font-family: Roboto Bold;
    padding-top:10px;
    /* color: var(--orange); */
    font-size: 25px;
    display:flex;
    justify-content: center;
  }

  .jobIntro {
    display:flex;
    flex-direction:column;
    gap:10px;
    background: var(--orange);
    color: var(--secondary-light);
    padding:10px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 13px;
  }
.description{
  text-indent:2rem;
  padding-top:10px;
  padding-bottom:10px;
  color: var(--secondary-dark);
}
  .button {
    margin-top:20px;
    display: flex;
    justify-content: center;
  }
  .banner{
    background: var(--secondary-dark);
    padding:15px;
    color: var(--neutral);
    margin-top:39px;
}