.Discussion {
  background-color: var(--neutral);
  border-radius: 10px;
  padding: 25px 19px 25px 19px;
  margin-top: 11px;
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
}

.heading1 {
  font-family: Roboto;
  font-size: 14px;
  margin-top: 16px;
}

.ActivityButton {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.img {
  width: 100%;
}
