.activityButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 17px;
  width: fit-content;
}

.number {
  margin-left: 4px;
  font-size: 8px;
  font-family: Roboto;
  color: var(--grey);
}
