.block {
  background-color: var(--neutral);
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 30vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.input {
  position: absolute;
  padding: 10px;
  top: 15vh;
  left: 10vw;
  margin-right: 10vw;
}

.input .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  padding-top: 3vh;
}

.input .link{
  position: absolute;
  padding-top: 5vh;
  color: var(--grey);
}
